<%- include("header") %>

    <div class="container-fluid">
        <h2>
            <%= title %>
        </h2>
        <div class="_blog">
            <p>
            q   <%= post %>
            </p>
        </div>
    </div>

<%- include("footer") %>